<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    	<div id="container">
    		<div id="header">
    			<div id="logo">
    				b4i4get
    			</div>
    			<ul id="tools">
    				<li>
    					#{if user}
    					Welcome ${user}, <a href="@{Secure.logout()}">(Logout)</a>|
    					#{/if}
    					#{else}
    					Welcome guest, <a href="@{Secure.login()}">Login</a>|
    					#{/else}
    				</li>
    				<li><a href="#">API</a>|</li>
    				<li><a href="#">About Us</a>|</li>
    				<li><a href="#">Contact Us</a></li>
    			</ul>
    			<div id="title">
    				<span class="about">About this app</span>
    				<h1><a href="@{Application.index()}">${appTitle}</a></h1>
    				<h2>${appDesc}</h2>
    			</div>
    		</div>
    		
    		<div id="body">
        		#{doLayout /}
    		</div>
    		
    		<div id="footer">
    			&copy; 2011 HUBB System Inc. All rights reserved.
    		</div>
    		
    	</div>
    </body>
</html>
